/* shared styles */

:root {
    --primary-color:#3A3A3A;
    --secondary-color:#E02C6D;
}
.display-flex{
    display: flex;
}




/* main styles start */

/* navbar related styles */

.navbar{
    max-width: 1200px;
    margin: 87px auto;
    justify-content: space-between;
    align-items: center;
}
.navbar-tittle{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;

}
.nav-link-content{
    list-style: none;
    align-items: center;
    gap: 34px;
}
.nav-link{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}



/* make responsive mobile device */
@media screen and (max-width:576px) {
    

    .display-flex{
        flex-direction: column;
        align-items: center;
    }
}

/* make responsive for tab device */
@media screen and (min-width:576px) and (max-width:992px) {

    .navbar{
        flex-direction: column;
    }
    
}