/* shared styles */

:root {
    --primary-color: #3A3A3A;
    --secondary-color: #E02C6D;
}

.display-flex {
    display: flex;
}

.btn-primary {
    border-radius: 41px;
    border: none;
    background-color: var(--secondary-color);
    font-weight: 700;
    color: white;
    text-align: center;
    gap: 8px;
    padding: 10px 24px;
    align-items: center;
}




/* main styles start */

/* navbar related styles */

.navbar {
    max-width: 1200px;
    margin: 87px auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-tittle {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;

}

.nav-link-content {
    list-style: none;
    align-items: center;
    gap: 34px;
}

.nav-link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
}

/* <!-- hero related styles start --> */
.hero {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 131px;
}

.hero-title {
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--primary-color);
    margin: 0px;
}

.hero-description {
    font-size: 1rem;
    font-weight: 600;
    max-width: 505px;
    width: 100%;
    color: var(--primary-color);
}

.hero-img-container {

    max-width: 465px;
    width: 100%;
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;

}

.hero-img-container img {
    width: 100%;
}

/* <!-- sponsor section start --> */
.sponsor {
    max-width: 1110px;
    width: 100%;
    margin: 70px auto;
}

.sponsor-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.25), 0 -4px 4px -4px rgba(0, 0, 0, 0.25);
}

.sponsor-img {
    width: 120px;
    height: auto;
}

/* popular related styles */
.popular {
    max-width: 1050px;
    margin: 100px auto;
    text-align: center;
}

.popular-tittle {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: var(--primary-color);
}

.popular-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
    margin-top: 30px;
}

.popular-card {
    border-radius: 6px;
    padding: 17px 14px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.popular-card-img {
    width: 100%;
}

.popular-card-tittle {
    color: #18191F;
    font-weight: 500;
    font-size: 1.75rem;
    margin-bottom: 7px;

}

.popular-card-price {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;

}

.rating-container {
    align-items: center;
    gap: 8px;
}

.stars {
    color: #ccc;
    font-size: 1.2rem;
}

.star-filled {
    color: #ff9800;
}

.star-half {
    color: #ff9800;
    opacity: 0.7;
}

.popular-card-description {
    font-size: 0.9rem;
    font-weight: 700;
    color: #787885;

}

#see-more {
    color: var(--secondary-color);
    background-color: transparent;
    justify-self: self-end;
    margin-top: 20px;
}

/* <!-- Featured related styles--> */
.featured {

    max-width: 1110px;
    margin: 40px auto;
}

.featured-container {
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.featured-img-container {
    max-width: 400px;
    width: 100%;

}

.featured-img-container img {
    width: 100%;
}

.featured-tittle {
    font-size: 2.35rem;
    font-weight: 700;
    margin-top: 0px;
    color: #0A0826;
}

.featured-description {
    font-weight: bold;
    color: #6C6C6C;
    max-width: 500px;
}

.join-now {
    border: none;
    border-radius: 0px;
}

/* make responsive mobile device */
@media screen and (max-width:576px) {


    .navbar,
    .nav-link-content {
        flex-direction: column;
        align-items: center;
    }

    .hero,
    .featured-container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 32px;
    }

    .hero-title {
        font-size: 2.25rem;
    }

    .hero-description {
        font-weight: 500;
    }

    .hero-img-container {

        max-width: 350px;
    }

    .sponsor-container {
        box-shadow: none;
    }

    .sponsor-img {
        width: 80px;

    }

    .popular-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 5%;
    }

}

/* make responsive for tab device */
@media screen and (min-width:576px) and (max-width:992px) {

    .navbar {
        flex-direction: column;
    }

    .hero,
    .featured-container {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        gap: 32px;
    }

    .hero-description {
        max-width: 505px;
        margin: 30px auto;

    }

    .hero-img-container {
        max-width: 400px;
    }

    .sponsor-container {
        box-shadow: none;
    }

    .sponsor-img {
        width: 100px;

    }

    .popular-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 5%;
    }

    .featured-description {
        font-weight: 500;
        color: #6C6C6C;
        max-width: 100%;
        margin: 10px 15px;
    }


}